[Unit]
Description=Executor agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ .BinaryPath | systemdPath }} agent --config {{ .ConfigPath | systemdArg }}
User={{ .AgentUser }}
Group={{ .AgentGroup }}
Restart=always
RestartSec=5
WorkingDirectory={{ .DataDir | systemdWorkingDirectory }}

[Install]
WantedBy=multi-user.target
