[Unit]
Description=Executor dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ .BinaryPath }} dashboard --config {{ .ConfigPath }}
User={{ .BrokerUser }}
Group={{ .BrokerGroup }}
Restart=always
RestartSec=5
WorkingDirectory={{ .DataDir }}

[Install]
WantedBy=multi-user.target
