[Unit]
Description=Executor dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ .BinaryPath | systemdPath }} dashboard --config {{ .ConfigPath | systemdArg }}
User={{ .BrokerUser }}
Group={{ .BrokerGroup }}
Restart=always
RestartSec=5
WorkingDirectory={{ .DataDir | systemdWorkingDirectory }}

[Install]
WantedBy=multi-user.target
