[Unit]
Description=Executor Cloudflare Tunnel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ .CloudflaredBinaryPath | systemdPath }} tunnel --logfile {{ .CloudflaredLogPath | systemdArg }} run --token-file {{ .CloudflaredTokenPath | systemdArg }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
