<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.executor.cloudflared</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ .CloudflaredBinaryPath | html }}</string>
    <string>tunnel</string>
    <string>--logfile</string>
    <string>{{ .CloudflaredLogPath | html }}</string>
    <string>run</string>
    <string>--token-file</string>
    <string>{{ .CloudflaredTokenPath | html }}</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{ .CloudflaredLogPath | html }}</string>
  <key>StandardErrorPath</key>
  <string>{{ .CloudflaredLogPath | html }}</string>
</dict>
</plist>
